
html, body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;

}

.material-symbols-outlined {
    font-size: 120px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.kruzic {
    font-size: 96px;
}



.simbol {
    animation: pulse 0.1s linear 1;
}

@keyframes pulse{
    25%  {transform: scale(0.9);}
    75%  {transform: scale(1.1);}
}
.container {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;



}
.side {

    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}

.sidetop {

}

.player {

    width: 55%;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(11, 157, 103);
    color: white;
    border-radius: 5px;

}

#playerOne, #playerTwo {
    font-size: 18px;
}

.thename {
    display: flex;
    gap: 5px;
}

.editBtn {
border: none;
cursor: pointer;
color: white;
background:none;


}

.sitelogo {
    padding-left: 5%;
}

.sitelogo >h1{
    font-size: 34px;
    color: rgb(233, 152, 1);
    
}

.sidecenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebottom {

}

.center {
    padding-top: 70px;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameboard{

    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
}

.gametile{
    border: 1px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

.btn-cont > button {
    height: 50px;
    width: 150px;
    background-color: rgb(233, 152, 1); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

