
.material-symbols-outlined {
    font-size: 120px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.kruzic {
    font-size: 96px;
}

div {
    border: 1px solid black;
}
.simbol {
    animation: pulse 0.1s linear 1;
}

@keyframes pulse{
    25%  {transform: scale(0.9);}
    75%  {transform: scale(1.1);}
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}
.side {
    border: 1px solid black;
    
}

.player {
    border: 1px solid black;
}

.center {
    padding-top: 70px;
}

.gameboard{
    border: 1px solid black;
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.gametile{
    border: 1px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

.btn-cont > button {
    height: 50px;
    width: 150px;
    background-color: orange; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

